In [1]:
# value=1
num1=5

for i in range(num1+1):
    value=1
    value=value*i
print(value)

5

In [2]:
num1=5
value=1
for i in range(num1):
    value=value*i
print(value)

0

In [3]:
print(range(6))

range(0, 6)

In [4]:
fact = int(input("Enter any number :"))
val = 1
for i in range(fact,0,-1):
    val=val * i
print(val)

Enter any number :55
12696403353658275925965100847566516959580321051449436762275840000000000000

In [5]:
list_value = range(0,20)
list_even = []
list_odd = []
for i in list_value:
    if i %2==0:
        list_even.append(i)
    else:
        list_odd.append(i)
print(list_even)
print(list_odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
def facto(number):
    """factorial programme : takes only one number from user: """
    val=1
    for i in range(number,1,-1):
        val=val*i
    return val
num=input('enter value to find factorial : ')

fact_val=facto(int(num))

print(f'factorial of {num} is {fact_val}')

enter value to find factorial : 5
factorial of 5 is 120

In [6]:
num=facto(5)
print(num)

NameError: name 'facto' is not defined

In [7]:
x = lambda a:a*10
print(x(5))

50

In [8]:
def print_a_number(num):
    print(num)
    
def return_a_number(num):
    return num

def add_three(num):
    return num+3

In [9]:
def print_a_number(num):
    print(num)

In [10]:
f1=print_a_number(7)
f2=return_a_number(4)
print(f1)
print(f2)
f3 = add_three(f2)
print(f3)
#f4 = add_three
#print(f4)

7
None
4
7