In [1]:
import pandas as pd
import numpy as np

In [6]:
# ans :1  
sr=pd.Series([4,8,15,16,23,42])
sr

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
# ans :2
ls=[1,2,3,4,5,6,7,8,9,8]
sr1=pd.Series(ls)
sr1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    8
dtype: int64

In [11]:
# ans:3
df=pd.DataFrame({'Name':['Alice','Bob','Claire'],
                'Age':[25,30,27],
                'Gender':['Female','Male','Female']})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# ans : 4
Dataframe :
        DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. Each column in a DataFrame can have a different data type, such as float, int, bool, and so on.

        this is series
        
        sr1  =   [1, 2, 3, 4, 5, 6, 7, 8, 9, 8]

        this is data frame 

        df =  	Name	Age	Gender
0	Alice	25	Female
1	Bob	30	Male
2	Claire	27	Female

In [14]:
# ans : 5
df
print(df.head())
print(df.tail())
print(df.describe())
print(df.info())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

# ans : 6
Both Series and DataFrame are mutable in nature, while Panel is considered as an immutable data structure in Pandas.

In [20]:
# ans : 7


sr2=pd.Series(['jay','pratik','himal'])
sr3=pd.Series([1,2,3])
sr4=pd.Series([22,24,25])

In [21]:
df=pd.DataFrame({'name':sr2,
                'roll_no':sr3,
                'age':sr4})
df

     name  roll_no  age
0     jay        1   22
1  pratik        2   24
2   himal        3   25