## Different data types we will encounter in Python
* ### <u>Numeric</u>  - Numeric variables take values which are numbers like 9, 3.14, 0, Inf


* ### <u>String </u>  - String variables are used to store textual information


* ### <u>Boolean</u>  - Boolean variables have two modes either True or False. A definite judge of statements!


* ### <u>Datetime </u> - These variables are used to store date and time values such as 2020-08-01 12:23:54

# <u> Integers and Floats </u>

## Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-5

-3

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [5]:
# Floor Division
7//2

3

In [6]:
# Exponentiation
2**5

32

In [7]:
# Modulus
5%6

5

In [8]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [9]:
2+ 10* (10+3)

132

In [10]:
# Scientific Notation for representing large numbers
4E6

4000000.0

## Let's talk about numbers!

* A lot many different types of numbers are supported in Python like integers (int type), real numbers (float type), complex numbers. We will mostly use integer and floating point numbers.


* Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.


* Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (E) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.


* In computing, floating-point arithmetic is arithmetic using formulaic representation of real numbers as an approximation to support a trade-off between range and precision. You can always control the number of digits coming after the decimal, hence they are called floating-point numbers

### The table below summarises the two numeric data types, Integers and Floats:
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

## <u> What is a Variable? <u/>

###  VARIABLES are entities which help us store information and retrieve it later. 

 * A variable with a fixed name can store information of nature like numeric, textual, boolean etc.
 
 
 * A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.
 
 
 * The type of data contained in a variable can be changed at user's will.

In [11]:
# You can store numbers in variables.
# The standard rule is you write the variable name followed by = sign and the value it will take

x=5

In [12]:
x

5

In [13]:
y=6.4
y

6.4

In [14]:
print(y)

6.4

### Basic Arithmetic operations we can do on x and y. Later we will be doing operations on thousands of such numbers in one go!

In [15]:
# Addition
z = x+y

print(z)

11.4

In [16]:
# Printing the memory address the variable z occupies
print(hex(id(z)))

0x1a0543fd9b0

* ### A variable can be assigned different values and data types and it will store the last value assigned

In [17]:
# Subtraction
z = x-y

# Use the in-built print function to print the variable
print(z)

-1.4000000000000004

In [18]:
# Printing the memory address the variable z occupies
print(hex(id(z)))

0x1a054460090

In [19]:
 # Find out the data type of variable z
type(y)

float

In [20]:
# Multiplication
z = x*y

print(z)  # Print the variable z
type(z)   # Get the data type of variable z

32.0

float

In [21]:
# Division
z = x/y

print(z) # Print the variable z
type(z)  # Get the data type of variable z

0.78125

float

In [22]:
# Floor division
z= x//y  #  Remember x=5, y=6.4
print(z)

0.0

### Waittt! Shouldn't it be 0.75??
* The reason we get this result is because we are using "*floor*" division. The <code>//</code> operator (two forward slashes) is the mathematical equivalent of doing [0.75] which returns the greatest integer less than or equal to 0.75

In [23]:
# Modulo operator
y=5
x=3

z = y%x       # Modulus is denoted by % sign
print(z)

2

In [24]:
# Using powers and exponents

z = x**y    # We did not even need to store it in another variable nor use print command
print(z)

243

In [25]:
# BODMAS nostalgia
some_random_operation =(x+y)/y + (y-x)*x     

print(some_random_operation)
type(some_random_operation)

7.6

float

In [26]:
# Storing large integer numbers
avogadro = 6.22E23

print(avogadro)

6.22e+23

##  Rules for naming a variable in Python

* Variables names must start with a letter or an underscore like _ product , product_


* The remainder of your variable name may consist of letters, numbers and underscores


* spacy1, pyThon,machine_learning are some valid variable names


* Names are case sensitive.


* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

In [27]:
1oNone = 4

SyntaxError: invalid syntax (2480654070.py, line 1)

In [28]:
onone_abc_1 = 5

In [29]:
list = 5

In [30]:
list

5

* Names cannot begin with a number. Python will throw an error when you try to do so 


* Names can not contain spaces, use _ instead


* Names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
      
      
* It is considered best practice that names are lowercase with underscores


* Avoid using Python built-in keywords like `list`, `str` , `def` etc. We will talk more about such conventions later on

# <u>Boolean Variables </u>

* A Boolean variable only takes two values either True or False. It is used for comparisons

## Comparison Operators 

* These operators will allow us to compare variables and output a Boolean value (True or False). 


* If you have any sort of background in Math, these operators should be very straight forward.


* First we'll present a table of the comparison operators and then work through some examples:


* In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

* Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [31]:
# Set object to be a boolean
boolean_variable = False
type(boolean_variable)

bool

In [32]:
#Show
boolean_variable

False

### Equal

In [33]:
2 == 3

False

In [34]:
2==0

False

* <u> Note that <code>==</code> is a comparison operator, while <code>=</code> is an assignment operator. </u>

### Not equal

In [35]:
2!=0

True

In [36]:
2!=2

False

### Greater than

In [37]:
a=3
b=2
a> b

True

In [38]:
a == 3

True

In [39]:
b > 4

False

### Less than

In [40]:
10 < 45

True

In [41]:
4 < 2

False

### Greater than or equal to

In [42]:
3 >=2

True

In [43]:
4 >= 4

True

### Less than or equal to

In [44]:
3 <= 0

False

In [45]:
1 <= 2

True