In [1]:
                    # Tuples
                    # In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.
                    # You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
                    # You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

In [2]:
# Create a tuple
my_tuple = 1,'a',3

In [3]:
print(my_tuple)

(1, 'a', 3)

In [4]:
type(my_tuple)

tuple

In [5]:
# Can also mix object types 
another_tuple = ('one',2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [6]:
my_list = [1]

In [7]:
type(my_list)

list

In [8]:
my_tuple = (1,)

In [9]:
type(my_tuple)

tuple

In [10]:
my_tuple = 1,2,3

In [11]:
type(my_tuple)

tuple

In [12]:
my_tuple = (1,2,3,4)

In [13]:
len(my_tuple)

4

In [14]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [15]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [16]:
# Grab the element at index 3, which is the FOURTH element
another_tuple[3]

'asbc'

In [17]:
# Grab the element at the index -1, which is the LAST element
another_tuple[-1]

'asbc'

In [18]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

In [19]:
# Print our list
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [20]:
# Grab the elements starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

In [21]:
# Grab everything starting from index 2
another_tuple[2:]

(4.53, 'asbc')

In [22]:
# Grab everything before the index 4
another_tuple[:6]

('one', 2, 4.53, 'asbc')

In [23]:
# Grab everything
another_tuple

('one', 2, 4.53, 'asbc')

In [24]:
# Grab the LAST FOUR elements of the list
another_tuple[-4:]

('one', 2, 4.53, 'asbc')

In [25]:
another_tuple[5]

IndexError: tuple index out of range

In [26]:
# Check len just like a list
len(another_tuple)

4

In [27]:
random_tuple = (1,5,6,2)

In [28]:
sorted(random_tuple)

[1, 2, 5, 6]

In [29]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [30]:
# Use .index to enter a value and return the index
my_tuple.index(2)

1

In [31]:
# Use .count to count the number of times a value appears
my_tuple.count(2)
my_tuple.count(1)

3

In [32]:
my_list = [1,2,3,4,1,1]

In [33]:
my_list.count(1)

3

In [34]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [35]:
my_tuple[0]

1

In [36]:
my_tuple[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [37]:
# Create a list
my_list = [5,7,9,3,2]

In [38]:
# Replace the FIRST element with the value 1
my_list[0] = 1

In [39]:
# Our modified list
my_list

[1, 7, 9, 3, 2]

In [40]:
my_tuple.append('Great!')

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [42]:
zip(city_list, river_list)

In [43]:
city_and_their_rivers = list(zip(city_list,river_list))

In [44]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

In [45]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahamputra','Thames']

In [46]:
list(zip(city_list,river_list))

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahamputra')]

In [47]:
# Create an empty set 
empty_set = set()

In [48]:
type(empty_set)

set

In [49]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}

In [50]:
type(non_empty_set)

set

In [51]:
my_object = {}

In [52]:
type(my_object)

dict

In [53]:
my_set = set()

In [54]:
type(my_set)

set

In [55]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]

In [56]:
# Cast as set to get unique values
my_set = set(my_list)

In [57]:
my_set

{1, 2, 3, 4, 5, 6}

In [58]:
# A set cannot have mutable items
my_set = {1, 2, (3, 4)}

In [59]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}

In [60]:
my_set

{(2, 3), 1, 2}

In [61]:
my_setmy_set = {1,2, {3,5}}

TypeError: unhashable type: 'set'

In [62]:
my_set

{(2, 3), 1, 2}

In [63]:
# We add to sets with the add() method
my_set = set()
my_set.add('a')

In [64]:
#Show
my_set

{'a'}

In [65]:
# Add a different element
my_set.add(2)

In [66]:
#Show
print(my_set)

{2, 'a'}

In [67]:
# Lets add another element 1
x.add(1)

NameError: name 'x' is not defined

In [68]:
my_set = {5,7,9,3}

In [69]:
    # add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{2, 3, 4, 5, 7, 9}

In [70]:
non_empty_set = {1,5,6,73,2}

In [71]:
non_empty_set.remove(5)

In [72]:
non_empty_set

{1, 2, 6, 73}

In [73]:
non_empty_set.remove(45)

KeyError: 45

In [74]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [75]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [76]:
A

{1, 2, 3, 4, 5}

In [77]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [79]:
A.intersection(B)

{4, 5}

In [80]:
# Also denoted by the operator &
A & B

{4, 5}

In [81]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [82]:
A.difference(B)

{1, 2, 3}

In [83]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [84]:
B.difference(A)

{6, 7, 8}

In [85]:
B - A

{6, 7, 8}

In [86]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [87]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [88]:
A^B

{1, 2, 3, 6, 7, 8}

In [89]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [90]:
# Call values by their key
marvel_dict['abc']

{1: 2, 4: 5}

In [91]:
type(marvel_dict)

dict

In [92]:
marvel_dict['Name']

'Thor'

In [93]:
marvel_dict['Random']

KeyError: 'Random'

In [94]:
marvel_dict['Name']

'Thor'

In [95]:
marvel_dict['Weapon']

'Hammer'

In [96]:
marvel_dict['alibies']

['Ironman', 'Captain America']

In [97]:
   type(marvel_dict['abc'])

dict

In [98]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [99]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

In [100]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [101]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

In [102]:
# Get the keys and their corresponding values
marvel_dict.items()

dict_items([('Name', 'Thor'), ('Place', 'Asgard'), ('Weapon', 'Hammer'), (1, 2), (3, 'power'), ('alibies', ['Ironman', 'Captain America']), ('abc', {1: 2, 4: 5})])

In [103]:
marvel_dict.get('Place')

'Asgard'

In [104]:
marvel_dict.get('Place')

'Asgard'

In [108]:
marvel_dict.get('Random')

In [109]:
marvel_dict.get('Random','Not found')

'Not found'

In [110]:
marvel_dict['friend']

KeyError: 'friend'

In [111]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

In [112]:
len(employee_dict.keys())

4

In [113]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [114]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [115]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [116]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()

'PYTHON'

In [117]:
# Add a new key

employee_dict['Designation'] ='Senior Data Scientist'

In [118]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist'}

In [119]:
employee_dict.update({'Salary':'2,000,000'})

In [120]:
employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [121]:
employee_dict.update({'Name' : 'Varun Saini'})

In [122]:
employee_dict

{'Name': 'Varun Saini',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [123]:
employee_dict['Name']

'Varun Saini'

In [124]:
# Subtract 123 from the value
employee_dict['Name'] = employee_dict['Name'] + '   ' + 'Raj'

In [125]:
#Check
employee_dict

{'Name': 'Varun Saini   Raj',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [126]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [127]:
country_city_list = list(zip(country_list,city_list))

In [128]:
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]

In [129]:
dict(country_city_list)

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [130]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [131]:
country_city_dict = dict(country_city_tuples)

In [132]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [133]:
country_city_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [134]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [135]:
element_to_pop = country_city_dict.pop('England')

In [136]:
element_to_pop

'London'

In [137]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [145]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [146]:
mapped = zip(name, marks)

In [147]:
mapped

In [148]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [149]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60,80]

In [150]:
mapped = zip(name, marks)

In [151]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [152]:
print(dict(mapped))

{}